{% extends "layouts/mural-chat/two-thirds.njk" %}

{% set pageTitle = "Select a board" %}

{% block pageContent %}

      <a href="/mural-chat/home" class="govuk-back-link">Back</a>

      <h1 class="govuk-heading-l">Select a Mural board</h1>
      <p class="govuk-body">Choose the board you'd like to chat about.</p>

      <form action="/mural-chat/select-mural" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              {% for board in data['mural-boards'] %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                  id="mural-board-id{% if not loop.first %}-{{ loop.index }}{% endif %}"
                  name="mural-board-id"
                  type="radio"
                  value="{{ board.id }}"
                  {% if data['mural-board-id'] === board.id %}checked{% endif %}
                  {% if board.hint %}aria-describedby="mural-board-id{% if not loop.first %}-{{ loop.index }}{% endif %}-hint"{% endif %}>
                <label class="govuk-label govuk-radios__label" for="mural-board-id{% if not loop.first %}-{{ loop.index }}{% endif %}">
                  {{ board.name }}
                </label>
                {% if board.hint %}
                <div id="mural-board-id{% if not loop.first %}-{{ loop.index }}{% endif %}-hint" class="govuk-hint govuk-radios__hint">
                  {{ board.hint }}
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">Open board</button>

      </form>

      <p class="govuk-body">
        <a href="/mural-chat/add-board" class="govuk-link">Add a board</a>
      </p>

{% endblock %}
